.bg-card-pink {
    background: linear-gradient(87deg,#f3a4b5 0,#f3b4a4 100%) !important;
}
.bg-card-yellow {
    background: linear-gradient(87deg,#ffd600 0,#beff00 100%) !important;
}
.orders-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.btn-pigeon {
    color: #fff;
    background-color: #BFBDDB;
    border-color: #aba9c6;
    &:hover{
        color: #fff;
        background-color: #a9a6d9;
        border-color: #908cca;
    }
}
.btn-driver {
    width: 75px;
}
