// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.module {
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    margin-top: 1.5rem !important;
    img {
        vertical-align: middle;
        -moz-transition: all 0.5s;
        -webkit-transition: all 0.5s;
        transition: all 0.5s;
    }
    &:hover img {
        -moz-transform: scale(1.1);
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
}
.module .content {
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0); /* Fallback color */
    background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
    color: #f1f1f1;
    width: 100%;
    height: 25%;
    display: table;
    text-align: center;
    &:hover {
        background: rgba(0, 0, 0, 0.75); /* Black background with 0.5 opacity */
    }
    h1 {
        margin: auto;
        display: table-cell;
        vertical-align: middle;
        line-height: 90%;
    }
}
@media (min-width: 600px) {
    .module {
        max-width:calc(50% - 16px);
        width: calc(50% - 16px)
    }
}
@media (min-width: 884px) {
    .module {
        width:calc(33.3333% - 16px);
        max-width: calc(33.3333% - 16px)
    }
}
@media (min-width: 960px) {
    .module {
        margin: 0 12px 0;
        width: calc(33.3333% - 24px);
        max-width: calc(33.3333% - 24px)
    }
}
@media (min-width: 1208px) {
    .module {
        width:calc(25% - 24px);
        max-width: calc(25% - 24px)
    }
}
.legal {
    font-size: 12px;
    a:link {
        text-decoration: none;
        font-weight: bold;
        color: #6574cd;
        &:hover {
            color: #4e50cd;
        }
    }
}
.form-signin {
    width: 100%;
    background: #94f0ff;
    max-width: 500px;
    padding: 15px;
    margin: auto;
}
.form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
    &:focus {
        z-index: 2;
    }
}
.form-signin .top {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-signin .middle {
    margin-bottom: -1px;
    border-radius: 0;
}
.form-signin .bottom {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.categories-nav ul {
    background-color: #C3CFF2;
    padding: 0;
    overflow: hidden;
}
.categories-nav li {
    float: left;
    list-style: none;
    width: 10%;
}
.categories-nav li:hover .category-a::before {
    right: 0;
    left: 0;
}
.categories-nav .category-a {
    color: var(--gray-dark);
    font-size: 15px;
    text-decoration: none;
    text-align: center;
    padding: 10px 0;
    display: block;
    position: relative;
    transition: all 0.2s ease;
}
.categories-nav .category-a:hover {
    color: var(--gray);
}
.categories-nav .category-a::before {
    content: "";
    transition: all 0.4s ease-in-out;
    position: absolute;
    right: 50%;
    left: 50%;
    bottom: 0;
    height: 2px;
    background-color: #BFBDDB;
}
.categories-nav .category-a:hover::before {
    right: 0;
    left: 0;
}
.categories-nav .category-info {
    float: right;
    font-size: 1.1rem;
}
.categories-nav .categories-info:hover{
    color: var(--gray);
}
h3 > i {
    color:#9561e2;
}
