// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

body{ padding-top: 60px; }

// Pages
@import 'pages/apply';
@import 'pages/cart';
@import 'pages/home';
@import 'pages/show';
@import 'pages/driver';
@import 'pages/checkout';


.mapContainer {
    position: absolute !important;
    width: inherit;
    height: 200px;
}
